body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

h1 {
    color: #333;
}

button {
    background: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background: #4cae4c;
}

#recipes {
    margin-top: 20px;
}

.recipe {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe h2 {
    margin-top: 0;
}

.recipe p {
    margin: 10px 0;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}


#recipe-type label {
    flex: 1;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    position: relative;
}

#recipe-type input[type="radio"] {
    display: none;
}

#recipe-type input[type="radio"]:checked + img {
    border: 2px solid #5cb85c; 
    padding: 2px; 
    border-radius: 5px;
}

#recipe-type img {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease-in-out;
}

.recipe-buttons button img {
    width: 20px;
    height: 20px;
}

#popup-ingredients {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#popup-ingredients .popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#popup-ingredients .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#popup-ingredients .close-btn:hover,
#popup-ingredients .close-btn:focus {
    color: black;
}

#ingredients-list {
    margin-top: 10px;
}

#ingredients-list p {
    margin: 5px 0;
}

#total-cost {
    font-weight: bold;
    margin-top: 10px;
}
.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.recipe {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%; 
    max-width: 600px; 
    overflow: hidden; 
}

.recipe .recipe-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.favorite-btn {
    background-color: transparent;
    border: 1px solid #4CAF50;
    color: #4CAF50;
    padding: 5px 10px;
    cursor: pointer;
    float: left;
    margin-right: 10px;
}

.favorite-btn.filled {
    background-color: #4CAF50;
    color: #fff;
    border: none;
}
